.contact {
    padding-top: 80px;
    padding-bottom: 44px;
}

.contact__form {
    display: flex;
    margin-top: 90px;
    flex-wrap: wrap;
}

.contact__user-massage-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 110px;
}

.contact__user-data-container {
    flex-grow: 1;
    margin-right: 110px;
}

.contact__input {
    margin-bottom: 31px;
}

.contact__input:last-child {
    margin-bottom: 0;
}

.contact__textarea-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contact__textarea {
    flex-grow: 1;
}

.contact__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 68px;
}

@media (max-width: 991px) {
    .contact__user-massage-container {
        margin-left: 55px;
    }

    .contact__user-data-container {
        margin-right: 55px;
    }
}

@media (max-width: 768px) {
    .contact__form {
        flex-direction: column;
    }

    .contact__user-massage-container {
        margin-left: 0;
    }

    .contact__user-data-container {
        margin-right: 0;
        margin-bottom: 31px;
    }

    .contact__textarea {
        height: 250px;
    }
}