.feedback {
    padding-bottom: 120px;
    padding-top: 80px;
}

.feedback__reviews {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feedback__review {
    width: 298px;
}

@media (max-width: 991px) {
    .feedback__reviews {
        flex-direction: column;
    }

    .feedback__review {
        width: auto;
        margin-bottom: 20px;
    }

    .feedback__review:last-child {
        margin-bottom: 0;
    }
}
