.pricing {
    background-color: #F5F5F5;
    padding-bottom: 58px;
    padding-top: 80px;
}

.pricing__header {
    margin-bottom: 62px;
}

.pricing__offers {
    display: flex;
    justify-content: space-between;
}

.pricing__offer {
    width: 340px;
    margin-right: 20px;
}

.pricing__offer:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .pricing__offers {
        flex-direction: column;
    }

    .pricing__offer {
        width: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }
}