.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social--large .social__icon {
    font-size: 42px;
}

.social--large .social__icon:hover,
.social--large .social__icon:focus {
    transform: scale(1.2);
}

.social--large .social__item {
    margin-right: 20px;
    margin-left: 20px;
}

.social__item {
    margin-right: 15px;
    margin-left: 15px;
}

.social__icon {
    color: #E2E2E2;
    font-size: 20px;
    transition: color 0.3s ease,
                transform 0.3s ease,
                opacity 0.3s ease;
}

.social__icon:hover,
.social__icon:focus {
    color: #EC7979;
    transform: scale(2.2);
}

.social__icon:active {
    opacity: 0.8;
}